

@media only screen and (max-width: 1200px) and (mind-width: 1000px) {
  body{
    margin: 0;
    padding: 0;
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  main {
    position: absolute;
    margin-top: 5%;
    min-width: 1080px;
    height: 500px;
  }

  .container-home{
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
  }

  .container-home h1 {
    margin: 0;
    margin-top: 10%;
    padding-left: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: none; 
    font-family: 'Roboto Slab' serif;
    font-weight: bold;
    font-size: 52px;
    color: #6B5622;
  }

  .container-home img {
    position: absolute;
    margin-left: -15%;

    width: 400px;
    height: 400px;
  }
  
  .container-home p {
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
    color: #6B5622;
  }

  .btn-container {
    position: absolute;  
    margin-top: 5%;  
    margin-left: 25%;
    width: 70%;


    display: flex;
    align-items: center;
  }

  .btn-login{
    padding: 3%;
    margin: 3%;

    width: 30%;

    background: #FFFFFF;
    border: 3px solid #FAC304;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #6B5622;
  }
  .btn-signup {
    padding: 3%;
    margin: 3%;

    width: 30%;

    background:#FAC304;
    border: 3px solid #FAC304;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #6B5622;
  }
} 

@media only screen and (max-width: 1000px) and (min-witdh: 800px){
  body{
    margin: 0;
    padding: 0;
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  main {
    position: absolute;
    margin-top: 5%;
    min-width: 1080px;
    height: 500px;
  }

  .container-home{
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
  }

  .container-home h1 {
    margin: 0;
    margin-top: 10%;
    padding-left: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: none; 
    font-family: 'Roboto Slab' serif;
    font-weight: bold;
    font-size: 52px;
    color: #6B5622;
  }

  .container-home img {
    position: absolute;
    margin-left: -15%;

    width: 400px;
    height: 400px;
  }
  
  .container-home p {
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 34px;
    text-align: center;
    color: #6B5622;
  }

  .btn-container {
    position: absolute;  
    margin-top: 5%;  
    margin-left: 25%;
    width: 70%;


    display: flex;
    align-items: center;
  }

  .btn-login{
    padding: 3%;
    margin: 3%;

    width: 30%;

    background: #FFFFFF;
    border: 3px solid #FAC304;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #6B5622;
  }
  .btn-signup {
    padding: 3%;
    margin: 3%;

    width: 30%;

    background:#FAC304;
    border: 3px solid #FAC304;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #6B5622;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  body{
    margin: 0;
    padding: 0;
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-home{
    width: 100%;

    align-items: center;
    justify-content: center;
  }

  .container-home h1 {
    margin: 0;
    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: none; 
    font-family: 'Roboto Slab' serif;
    font-weight: bold;
    font-size: 42px;
    color: #6B5622;
  }

  .container-home img {
    padding: 5%;
    margin-left: 15%;

    width: 70%;
    height: 70%;
  }

  .container-home p {
    padding: 5%;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #6B5622;
  }

  .btn-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-login{
    padding: 3%;
    margin: 3%;

    width: 30%;

    background: #FFFFFF;
    border: 3px solid #FAC304;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #6B5622;
  }
  .btn-signup {
    padding: 3%;
    margin: 3%;

    width: 30%;

    background:#FAC304;
    border: 3px solid #FAC304;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;
    color: #6B5622;
  }
}

@media only screen and (max-width: 600px){
  body{
    margin: 0;
    padding: 0;
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-home{
    width: 300px;

    align-items: center;
    justify-content: center;
  }

  .container-home h1 {
    margin: 0;
    padding: 2%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: none; 
    font-family: 'Roboto Slab' serif;
    font-weight: bold;
    font-size: 32px;
    color: #6B5622;
  }

  .container-home img {
    padding: 5%;
    margin-left: 15%;

    width: 70%;
    height: 70%;
  }

  .container-home p {
    padding: 5%;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #6B5622;
  }

  .btn-container {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-login{
    padding: 3%;
    margin: 3%;

    width: 30%;

    background: #FFFFFF;
    border: 2px solid #FAC304;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    color: #6B5622;
  }
  .btn-signup{
    padding: 3%;
    margin: 3%;

    width: 30%;

    background:#FAC304;
    border: 2px solid #FAC304;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    color: #6B5622;
  }
}